*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: 'Exo 2', sans-serif;
    color: #ffffff;
    margin-left: 0%;
}

#subtitulo{
    font-family: 'Exo 2', sans-serif;
    color: #ffffff;
    font-weight: normal;
    margin-left: 0%;
    margin-top: 6%;
}

fieldset {
    border: 0;
    margin-top: 7%;
}

body{
    background-image: linear-gradient(to right, #0f9fca, #57b9c0);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #ffffff;
    margin-left: 25%;
    margin-right: 36%;
    margin-top: 2%;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
}

fieldset.grupo .campo{
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo   textarea {
    padding: 0.3em;
    border: 1px solid #ffffff;
    box-shadow: 1px 1px 1px #ffffff
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .select:focus, .campo:focus{
    background: #d5d5d5;
}

.botao {
    font-size: 1.2em;
    background: #2ca1c4;
    color:#ffffff;
    padding: 0.2em 0.6em;
    margin: #ffffff;
    border-color: #ffffff;
    margin-left: 30%;
    margin-top: 7%;
}

.botao:hover {
    background:#0f596d ;
    text-shadow: none;
    margin: #ffffff;
}

.quadrado1{
    margin-left: 22%;
}
.quadrado2 {
    margin-left: 23%;
}

.quadrado3 {
    margin-left: 21.5%;
}

.quadrado4 {
    margin-left: 9%; 
}

.quadrado5 {
    margin-left: 5%;
}

.quadrado6 {
    margin-left: 5%;
}
.quadrado7 {
    margin-left: 37.1%;
    margin-top: -3%;
}